/**
    Name: Justin Abraham
    Date: December 9, 2022
    Course: IT202 003
    Assignment: Semester Project Phase 3    
**/
#pageTitle {
    text-align: center;
    margin-left: 150px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-image: url('../images/headerback.jpeg');
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    display: flex;
}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}
header img {
    height: 80px;
}
#createheader {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
}
body {
    background-color: tan;
}
main {
    padding-top: 80px;
}
.menuContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}
.menuItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 12px;
    width: 100px;
    border: solid 1px black;
    position: relative;
    justify-content: flex-end;
}