/**
    Name: Justin Abraham
    Date: October 14, 2022
    Course: IT202 003
    Assignment: Semester Project Phase 1    
**/
#pageTitle {
    text-align: center;
    margin-left: 150px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-image: url('../images/headerback.jpeg');
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    display: flex;
}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}
header img {
    height: 80px;
}
#createheader {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
}
main {
    margin-top: 80px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
fieldset{
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    /**margin-top: 100px;
    margin-left: 50vh;**/  
    width: 700px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    border: solid black 2px;
    background-color: tan;
    display: grid;
    grid-template-columns: 1fr;

}  
legend {
    text-align: center;
    border: solid black;
    background-color: tan;
}

input[type=text], input[type=number], textarea, select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}
input[type=submit], input[type=reset] {
    background: lightblue;
    color: black;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
}
form caption {
    width: 450px;
    font-size: 40px;
}
html, body {
    margin: 0;
}
body {
    background: url('../images/createback.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -50px 0px;
}
footer {
    text-align: center;
    color: black;
}
#toplink {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    margin: auto;
    width: 100px;
    border-radius: 50%;
}